.trending_products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4rem;
  margin: 0 3.8rem;
  padding: 0 3.8rem;
}

.trending_heading {
  text-align: center;
  margin-top: 2.7rem;
  margin-bottom: 20px;
  font-family: "Archivo", sans-serif;
}

.mid_image {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 70%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.square_image {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 800px; 
    height: 800px; 
    object-fit: cover; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.bottom_banner {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%; 
    max-width: 1200px; 
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
